# venv
.venv/
venv/
env/

# VS Code
.vscode/

# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Models
*_model/

# Misc
nybolig_data.csv
.python-version

#trained_models
trained_models/
```
