# venv
.venv/
venv/
env/

# VS Code
.vscode/

# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Models
*_model/
vision_models/

# Misc
nybolig_data.csv
.python-version

#trained_models
trained_models/


#Add results/runs
results/

#add vit-base-beans
vit-base-beans/

kaggle/
